---
layout: article
title: "$title$"
---

<div class="row">
	<div class="col-xs-12">
        <h2>$title$</h2> 
        <p>By Dorothy Day</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-9">
         $body$
    </div>

    <div class="col-xs-3">
      <div class="well well-large">
      <ul class="list-group">
	    <h4>Other Formats</h4>
        <li class="list-group-item"><a href="$article$.pdf">PDF</a></li>
        <li class="list-group-item"><a href="$article$.docx">Word</a></li>
        <li class="list-group-item"><a href="$article$-plain.htm">HTML</a></li>
        <li class="list-group-item"><a href="$article$.md">Markdown</a></li>
      </ul>
    </div>
      
        
    </div>
</div>
     
<script type="text/javascript">
if (window.location.search == "?edit")
  window.location.assign("https://github.com/JimAllaire/catholicworker/edit/gh-pages/dorothyday/_source/$article$.md")
</script>
