---
layout: layout
---

<div class="col-xs-2">
  <ul class="list-group">
    <a class="list-group-item" href="{{ baseurl }}/about/terms.html">Terms of Use</a>
    <a class="list-group-item" href="{{ baseurl }}/about/archives.html">Archives</a>
    <a class="list-group-item" href="{{ baseurl }}/pages/bibliography.html">Bibliography</a>
    <a class="list-group-item" href="{{ baseurl }}/about/acknowledgements.html">In Gratitude</a>
    <a class="list-group-item" href="{{ baseurl }}/about/contact.html">Contact Us</a>
  </ul>
</div>
<div class="col-xs-10">
  {{ content }}
</div>
