---
layout: layout
---

<div class="col-xs-2">
  <ul class="list-group">
	<a class="list-group-item" href="{{ baseurl }}/pages/bibliography.html"><b>Bibliography</b></a>
    <a class="list-group-item" href="{{ baseurl }}/about/archives.html"><b>Archives</b></a>
    <a class="list-group-item" href="{{ baseurl }}/about/contact.html"><b>Contact Us</b></a>
	<a class="list-group-item" href="{{ baseurl }}/about/terms.html"><b>Terms of Use</b></a>
    <a class="list-group-item" href="{{ baseurl }}/about/acknowledgements.html"><b>In Gratitude</b></a>
  </ul>
</div>
<div class="col-xs-10">
  {{ content }}
</div>
