---
layout: layout
---

<div class="col-xs-2">
  <ul class="list-group">
	<a class="list-group-item" href="bibliography.html"><b>Bibliography</b></a>
    <a class="list-group-item" href="archives.html"><b>Archives</b></a>
    <a class="list-group-item" href="contact.html"><b>Contact Us</b></a>
	<a class="list-group-item" href="terms.html"><b>Terms of Use</b></a>
    <a class="list-group-item" href="acknowledgements.html"><b>In Gratitude</b></a>
  </ul>
</div>
<div class="col-xs-10">
  {{ content }}
</div>
