---
layout: layout
---

<div class="col-xs-2">
	<ul class="list-group">
	<a class="list-group-item" href="{{ site.baseurl }}communities/directory-picker.html"><b>Directory</b></a>
    <a class="list-group-item" href="{{ site.baseurl }}communities/websites.html"><b>CW Websites</b></a>
    <a class="list-group-item" href="{{ site.baseurl }}communities/volunteers.html"><b>Volunteer Opportunities</b></a>
	<a class="list-group-item" href="{{ site.baseurl }}communities/farms.html"><b>CW Farms</b></a>
    <a class="list-group-item" href="{{ site.baseurl }}communities/links.html"><b>Allied Movements</b></a>
	
  </ul>
</div>
<div class="col-xs-10">
  {{ content }}
</div>
