---
layout: layout
---

<div class="col-xs-2">
  <ul class="list-group">
	<a class="list-group-item" href="/dorothyday/dd-biography.html"><b>Biography</b></a>
    <a class="list-group-item" href="/dorothyday/browse/index.html"><b>Browse</b></a>
    <a class="list-group-item" href="/dorothyday/search.html"><b>Search</b></a>
	<a class="list-group-item" href="/dorothyday/themes/index.html"><b>Themes</b></a>
	<a class="list-group-item" href="/dorothyday/canonization.html"><b>Canonization</b></a>
  </ul>
</div>
<div class="col-xs-10">
  {{ content }}
</div>
