---
layout: layout
---

<div class="col-xs-2">
  <ul class="list-group">
    <a class="list-group-item" href="{{ baseurl }}/aims-and-means.html">Aims and Means</a>
    <a class="list-group-item" href="{{ baseurl }}/history.html">History</a>
    <a class="list-group-item" href="{{ baseurl }}/faq.html">FAQ</a>
	<a class="list-group-item" href="{{ baseurl }}/shops.html">Catholic Worker<br> Shops</a>
	<a class="list-group-item" href="{{ baseurl }}//communities/directory.html">Communities</a>
	<a class="list-group-item" href="{{ baseurl }}//communities/volunteers.html">Volunteers</a>
  </ul>
</div>
<div class="col-xs-10">
  {{ content }}
</div>
