---
layout: layout
---

<div class="col-xs-3">
  <ul class="list-group">
    <a class="list-group-item" href="aims-and-means.html">Aims and Means</a>
    <a class="list-group-item" href="history.html">History</a>
    <a class="list-group-item" href="faq.html">FAQ</a>
	<a class="list-group-item" href="shops.html">Catholic Worker<br> Shops</a>
	<a class="list-group-item" href="/communities/directory.html">Communities</a>
	<a class="list-group-item" href="/communities/volunteers.html">Volunteers</a>
  </ul>
</div>
<div class="col-xs-9">
  {{ content }}
</div>
