---
layout: layout
---

<div class="col-xs-2">
  <ul class="list-group">
    <a class="list-group-item" href="aims-and-means.html"><b>Aims &amp; Means</b></a>
    <a class="list-group-item" href="history.html"><b>History</b></a>
    <a class="list-group-item" href="faq.html"><b>FAQ</b></a>
	<a class="list-group-item" href="shops.html"><b>Catholic Worker<br> Shops</b></a>
	<a class="list-group-item" href="communities/directory.html"><b>Communities</b></a>
	<a class="list-group-item" href="communities/volunteers.html"><b>Volunteer Opportunities</b></a>
  </ul>
</div>
<div class="col-xs-10">
  {{ content }}
</div>
