---
layout: layout
---

<div class="col-xs-2">
  <ul class="list-group">
	<a class="list-group-item" href="{{ baseurl }}/petermaurin/pm-biography.html">Biography</a>
    <a class="list-group-item" href="{{ baseurl }}/petermaurin/easy-essays.html">Easy Essays</a>
    <a class="list-group-item" href="{{ baseurl }}/petermaurin/legacy.html">Legacy</a>
  </ul>
</div>
<div class="col-xs-10">
  {{ content }}
</div>
<hr>
<div class="row">
	<div class="col-xs-2">
	</div>	
	
	<div class="col-xs-10">	
		<p align="left"> <a href="index.html"><B>Peter Maurin Home</b></a>  | <a href="easy-essays.html"><B>Easy Essays</b></a>  | <a href="pm-biography.html"><B>Biography</b></a> | <a href="legacy.html"><B>Legacy</b></a>
			
			</p>
	</div>
		
</div>



